* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    margin: 10px 20px;
} */

header .navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(236, 230, 230);
    /* background-color: tomato; */
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-right: 30px;
    margin: 4px 15px;
    width: 100%;
    height: 10vh;
}

.navbar ul li {
    padding: 5px 20px;
    margin: 4px 15px;
}

.icon-h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon-h3 img {
    width: 80px;
    padding: 5px;
    margin: 2px;
}

.main-cont {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    margin: 0 2px;
    font-size: 17px;
    font-weight: 400;
    word-spacing: 3px;
    background-color: rgb(236, 230, 230);
}

.cont {
    padding: 5px;
    width: 45%;
    /* background-color: violet; */
}

.main-cont h1 {
    color: #EAAB1B;
    font-size: 50px;
    font-weight: 600;
}

span {
    color: #6CB840;
}

button {
    width: 100px;
    background-color: #6CB840;
    padding: 6px;
    margin: 10px;
    border-radius: 30px;
    box-shadow: none;
}

.main-cont .image {
    justify-content: space-between;
    width: 55%;
    /* background-color: palegreen; */
    /* margin: 1px; */
    padding: 10px;
    transform: ;
    /* background-color: turquoise; */
}

.img1 {
    margin-left: -60px;
    margin-bottom: -200px;
    /* background-color: tomato; */
    width: 100px;
}

.img2 {
    margin-bottom: -100px;
    margin-left: 0;
    width: 120px;
}

.img3 {
    margin-top: -200px;
    margin-left: -400px;
    width: 100px;
}

.img4 {
    margin-bottom: -30px;
    margin-left: 80px;
    width: 100px;
}

.img5 {
    margin-bottom: -150px;
    /* margin-left: 250px; */
    width: 100px;
}

.img6 {
    /* padding-top: 20px; */
    margin-bottom: -300px;
    margin-left: 200px;
    margin-right: 200px;
    width: 200px;
}

.contpart2 {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    height: 60vh;
    margin: 10px;
    padding: 20px;
    /* background-color: salmon; */
}

.contpart2 img {
    width: 50%;
}

.contpa {
    margin: 10px 5px;
    padding: 20px 10px;
    font-size: 20px;
    font-weight: 400;
    word-spacing: 5px;
    text-align: center;
}

.contpa h2 {
    font-size: 35px;
    color: #EAAB1B;
}

.cont3 h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin: 10px;
    padding: 10px;
}

.cont3 {
    background-color: #e2e6e0;
    margin: 0;
}

.cont3-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.cont3-name {
    display: flex;
    width: 33%;
}

.cont3 img {
    width: 250px;
    margin-right: -20px;
    margin-top: -10px;
}

.cont3-name div {
    text-align: center;
    font-size: 18px;
    /* background-color: white; */
}

.cont3-name div h4 {
    margin-left: -120%;
}

.cont4 {
    background-color: #b2d69e;
    margin: 0;
}

.cont4-head {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin: 6px;
    padding: 10px;
}

.cont41 {
    display: flex;
    justify-content: space-between;
}

.cont41img {
    margin-left: 80px;
    width: 50%;
}

.cont41 img {
    width: 300px;
}

.img11 {
    margin-left: 300px;
    width: 300px;
}

.img10 {
    margin-left: 230px;
    margin-bottom: -200px;
}

.cont4-hp {
    width: 50%;
    font-size: 17px;
    margin: 8px;
    padding: 50px;
    word-spacing: 5px;
}

.cont4-hp h2 {
    padding: 16px;
    margin: 6px;
    color: #6CB840;
}

.cont4-hp h3 {
    padding: 10px;
    margin: 4px;
}

.contacts {
    text-align: center;
    word-spacing: 5px;
    background-color: rgb(253, 206, 174);
    margin: 0;
}

.contacts h4 {
    margin: 8px;
    padding: 16px;
    font-size: 18px;
    font-weight: 500px;
}

.buttonemail {
    background-color: white;
    width: 300px;
    margin: 10px;
    padding: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 8px;
    padding: 10px;
    background-color: #eedede;
}

.footer p {
    display: block;
    justify-content: space-between;
    margin: 8px;
    padding: 10px;
}

.footer .button {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-right: 30px;
    width: 10px;
}

.lastbutton {
    border-radius: 0;
    /* margin-right: 50px; */
    width: 80px;
}

.followus {
    align-items: center;
}